.mobileView {
	display: inline-grid;
	/* color: brown; */
}
.desktopView {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

$text-color: #263238;

.navlinks {
	font-size: 1.6em;
	font-family: Roboto !important;
	background-color: transparent;
	font-weight: bold;
	display: block;
	color: $text-color;
	border: none;
	text-align: right;
	width: 100%;
	text-decoration: none;
}

.active {
	color: lightcoral;
}
