$text-color: #000;


.buttons{

    
    font-size: 1.6em;
    font-family: Roboto !important;
    background-color: transparent;
    font-weight: bold;
    display: block;
    color: $text-color;
    border: none;
    text-align: right;
    width: 100%;
    
 &:hover{
    text-decoration: underline;
}
&:focus {
    outline:0;
}
    


}